$themes: (
  white: (
    '00': #000,
    '33': #333333,
    '3a': #3a3a3a,
    '4b': #4b4b4b,
    '64': #646464,
    '66': #666666,
    '88': #888888,
    '89': #898989,
    '41': #414141,
    '4e': #4e4e4e,
    '74': #747474,
    '7d': #7d7d7d,
    '93': #939393,
    '96': #969696,
    '97': #979797,
    '99': #999999,
    'b2': #b2b2b2,
    'bc': #bcbcbc,
    'bf': #bfbfbf,
    'c2': #c2c2c2,
    'c4': #c4c4c4,
    'c7': #c7c7c7,
    'cd': #cdcdcd,
    'cf': #cfcfcf,
    'ee': #eeeeee,
    'ed': #ededed,
    'f6': #f6f6f6,
    'fa': #fafafa,
    'fd': #fdfdfd,
    'white': #ffffff,
    'fbg': #f9d0e7,
  ),
  dark: (
    '00': white,
    '33': #b3b3b3,
    '3a': #ffffff,
    '41': #b1b1b1,
    '4b': #bebebe,
    '4e': #b3b3b3,
    '64': #8a8a8a,
    '66': #878787,
    '74': #878787,
    '7d': #8f8f8f,
    '88': #888888,
    '89': #404040,
    '93': #6d6d6d,
    '97': #8c8c8c,
    '96': #4f4f4f,
    '99': #878787,
    'b2': #4c4c4c,
    'bc': #525252,
    'bf': #515151,
    'c2': #515151,
    'c4': #696969,
    'c7': #5b5b5b,
    'cd': #666666,
    'cf': #5e5e5e,
    'ee': #333333,
    'ed': #202020,
    'f6': #2d2d2d,
    'fa': #292929,
    'fd': #999999,
    'white': #252525,
    'fbg': #552f2b,
  ),
  red: (
    '00': #000,
    '33': #333333,
    '3a': #3a3a3a,
    '4b': #4b4b4b,
    '64': #646464,
    '66': #666666,
    '88': #888888,
    '89': #898989,
    '41': #414141,
    '4e': #4e4e4e,
    '74': #747474,
    '7d': #7d7d7d,
    '93': #939393,
    '96': #969696,
    '97': #979797,
    '99': #999999,
    'b2': #b2b2b2,
    'bc': #bcbcbc,
    'bf': #bfbfbf,
    'c2': #c2c2c2,
    'c4': #c4c4c4,
    'c7': #c7c7c7,
    'cd': #cdcdcd,
    'cf': #cfcfcf,
    'ee': #eeeeee,
    'ed': #ededed,
    'f6': #f6f6f6,
    'fa': #fafafa,
    'fd': #fdfdfd,
    'white': #ffffff,
    'fbg': #f9d0e7,
  ),
);

// $border-color: map-get($colors, 'light-1');
//font-size
$font-sizes: (
  1: 12px,
  2: 13px,
  3: 14px,
  4: 15px,
  5: 16px,
  6: 17px,
  7: 18px,
  8: 19px,
  9: 20px,
  10: 30px,
);
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  event: space-evently,
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-direction: (
  t: top,
  r: right,
  l: left,
  b: bottom,
);
$spacing-base-size: 1;
// $spacing-sizes: (0: 0, 1: 5, 2:10, 3: 15, 4: 20, 5: 25, 6:30, 7:35);
$spacing-sizes: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  13: 13,
  14: 14,
  15: 15,
  16: 16,
  17: 17,
  18: 18,
  19: 19,
  20: 20,
  21: 21,
  22: 22,
  23: 23,
  24: 24,
  25: 25,
  26: 26,
  27: 27,
  28: 28,
  29: 29,
  30: 30,
);
