@import './variables';
@import './theme-base.scss';
@import './theme-dark.scss';
@import './theme-white.scss';
@import './theme-red.scss';

// reset
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

@each $themeKey, $themeValue in $themes {
  [data-theme="#{'' + $themeKey}"] {
    // @content;
    @each $colorKey, $color in $themeValue {
      .text-#{$colorKey} {
        color: $color;
      }
      .bg-#{$colorKey} {
        background-color: $color;
      }
    }
  }
}

// @mixin def_all_theme {
//   @each $themeKey, $themeValue in $themes {
//     $themeValue: $themeValue!global;
//     [data-theme="#{'' + $themeKey"]&{
//       @content;
//     }
//   }
// }

@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size;
  }
}

//text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

//flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

//sapcing
// .mt-1  => margin top level 1
//.pb-2  => padding bottom level 2
// .m-0

@each $typeKey, $type in $spacing-types {
  //.mx-1 .my-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size;
      #{$type}-right: $size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size;
      #{$type}-bottom: $size;
    }
  }
  //.m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size;
    }
  }
  //.mt-1
  @each $directionKey, $direction in $spacing-direction {
    @each $sizeKey, $size in $spacing-sizes {
      // mt-1
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * 1px;
      }
    }
  }
}

//borders
// @each $dir in (top, right, bottom, left) {
//   .border-#{$dir} {
//     border-#{$dir}: 1px solid $border-color;
//   }
// }

// mixins 放在全局的样式文件中 无需引入
// 文本溢出隐藏
@mixin no-wrap($width) {
  text-overflow: ellipsis;
  overflow: hidden;
  width: $width;
  white-space: nowrap;
}
// 多行文本溢出
@mixin multiEllipsis($line: 2) {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
// 文字居中
@mixin text-center($height, $size, $color) {
  text-align: center;
  line-height: $height;
  height: $height;
  font-size: $size;
  color: $color;
}
@mixin radius($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
  overflow: hidden;
}
@mixin flex(
  $direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}
@mixin creator-avatar($width, $flagWidth, $bottom: 0px) {
  position: relative;
  width: $width;
  height: $width;

  .flag {
    position: absolute;
    border-radius: 50%;
    width: $flagWidth;
    height: $flagWidth;
    bottom: $bottom;
    right: -2px;
  }

  img {
    width: 100%;
    // border-radius: 50%;
  }
  .avatar-img {
    border-radius: 50%;
  }
  &:hover {
    cursor: pointer;
  }
}
@mixin grid-between($width) {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, $width);
  grid-gap: 0;
}
@mixin common-play-btn($radius, $borderTop, $borderLeft) {
  position: absolute;
  transform: translate(-50%, -50%);
  @include radius($radius);
  background-color: rgba($color: #bebebb, $alpha: 0.6);
  .trangel {
    width: 0;
    height: 0;
    position: absolute;
    border-top: $borderTop solid transparent;
    border-bottom: $borderTop solid transparent;
    border-left: $borderLeft solid #d33b31;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
  }
}

.label {
  color: #333;
  font-size: 18px;
  // font-weight: bold;
  margin: auto;
  @include flex(row, flex-start, center);
  margin-bottom: 15px;
  width: 7.4rem;
  max-width: 1040px;

  span {
    margin-right: -8px;
  }
  i {
    font-size: 40px;
  }
}
.message-box-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
@mixin SQ($wrapBottom: 1px, $right: 1px, $bottom: 0px) {
  border: 1px solid #ff3133;
  border-radius: 3px;
  height: 12px;
  width: 18px;
  position: relative;
  bottom: $wrapBottom;

  span {
    font-size: 12px;
    color: #c3473a;
    transform: scale(0.7);
    display: inline-block;
    position: relative;
    right: $right;
    bottom: $bottom;
  }
}
