[data-theme='white'] {
  --theme-00: #000000;
  --theme-23: #3e3e3e;
  --theme-31: #313131;
  --theme-35: #ffffff;
  --theme-36: #ffffff;
  --theme-3a: #3a3a3a;
  --theme-3f: #3f3f3f;
  --theme-4c: #4c4c4c;
  --theme-56: #565656;
  --theme-61: #616161;
  --theme-66: #666666;
  --theme-a9: #a9a9a9;
  --theme-85: #858585;
  --theme-89: #898989;
  --theme-b3: #b3b3b3;
  --theme-bf: #bfbfbf;
  --theme-cb: #cbcbcb;
  --theme-cc: #cccccc;
  --theme-d4: #d4d4d4;
  --theme-dd: #dddddd;
  --theme-e0: #414141;
  --theme-e1: #e1e1e1;
  --theme-e3: #e3e3e3;
  --theme-e4: #e4e4e4;
  --theme-e5: #e5e5e5;
  --theme-e6: #e6e6e6;
  --theme-ea: #eaeaea;
  --theme-eb: #ebebeb;
  --theme-ec: #ececec;
  --theme-ed: #ededed;
  --theme-ee: #eeeeee;
  --theme-fcf6f5: #fcf6f5;
  --theme-f2: #f2f2f2;
  --theme-f5: #f5f5f5;
  --theme-f9: #f9f9f9;
  --theme-fa: #fafafa;
  --theme-fc: #fcfcfc;
  --theme-white: #ffffff;
  --theme-search: #ffffff;
  --theme-scrollbar: #e0e0e0;
  --theme-settheme: #ffffff;
  --theme-head-00: #000000;
  --theme-head-f6: #f6f6f6;
  --theme-head-ea: #eaeaea;
  --theme-head-cb: #cbcbcb;
  --theme-head-ec: #ececec;
  --theme-head-4c: #4c4c4c;
  --theme-head-89: #898989;
  --theme-head-36: #ffffff;
  --theme-7a: #000000;
  --theme-4a: #4a4a4a;
  --theme-c3473a: #c3473a;
}
