[data-theme='dark'] {
  --theme-56: #b7b7b7;
  --theme-31: #b6b6b6;
  --theme-89: #8a8a8a;
  --theme-00: #ffffff;
  --theme-b3: #666666;
  --theme-bf: #5c5c5c;
  --theme-a9: #5d5d5d;
  --theme-fcf6f5: #2d2726;
  --theme-ec: #4a4a4a;
  --theme-cb: #818181;
  --theme-ea: #373737;
  --theme-eb: #3c3c3c;
  --theme-ed: #373737;
  --theme-cc: #666666;
  --theme-d4: #5d5d5d;

  --theme-dd: #454545;

  --theme-white: #252525;
  --theme-ee: #232323;
  --theme-3a: #ffffff;
  --theme-35: #353535;
  --theme-36: #363636;
  --theme-4c: #b5b5b5;
  --theme-e0: #b1b1b1;
  --theme-e1: #1b1b1b;
  --theme-e3: #282828;
  --theme-e5: #454545;
  --theme-e6: #1d1d1d;
  --theme-f2: #303030;
  --theme-fa: #292929;
  --theme-fc: #666666;
  --theme-f5: #2e2e2e;
  --theme-f6: #2d2d2d;
  --theme-66: #8c8c8c;
  --theme-3f: #606060;
  --theme-search: #363636;
  --theme-scrollbar: #404040;
  --theme-settheme: #363636;
}
